microbench/*
!microbench/*.c
!microbench/Makefile
!microbench/HOWTO

lucene/data/
lucene/indices/
lucene/trunk/
lucene/util/lucene_signal

client/runTemplate/*_*

data/*
!data/*.sh

*.o
*.ko

ksignal/*
!ksignal/Makefile
!ksignal/*.c
ksignal/*mod*
!ksignal/README

nanonap/*
!nanonap/Makefile
!nanonap/*.c
!nanonap/README
!nanonap/*.patch
!nanonap/config*
nanonap/*mod*

client/script/wikimedium*